<post-headline></post-headline>
<div class="post-list-container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">支持多种运行时环境</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img style="width:200px; display:block; padding:30px 0px;" data-holder-rendered="true" src="../../../../assets/imgs/chrome.png">
                        <div class="caption">
                            <h3>浏览器环境</h3>
                            <p>QuarkRenderer 可以在所有主流浏览器环境中运行，兼容性非常棒。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img style="width:200px; display:block; padding:30px 0px;" data-holder-rendered="true" src="../../../../assets/imgs/node.png">
                        <div class="caption">
                            <h3>Node 环境</h3>
                            <p>QuarkRenderer 可以在 node-canvas 环境中运行。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img style="width:200px; display:block; padding:30px 0px;" data-holder-rendered="true" src="../../../../assets/imgs/mini-program.png">
                        <div class="caption">
                            <h3>微信小程序</h3>
                            <p>QuarkRenderer 在微信小程序中的表现也相当出色，无需 Hack ，直接支持。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">极高的性能</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img style="width:200px; height:320px; display:block; padding:30px 0px;" data-holder-rendered="true" src="../../../../assets/imgs/1.gif">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img style="width:200px; height:320px; display:block; padding:30px 0px;" data-holder-rendered="true" src="../../../../assets/imgs/2.gif">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img style="width:200px; height:320px; display:block; padding:30px 0px;" data-holder-rendered="true" src="../../../../assets/imgs/8.gif">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="section-title">强大的补间算法</h3>
            <p class="section-p">Quark Renderer 强大的补间算法不仅仅可以对位置、尺寸进行补间，对颜色、字符串也可以进行补间，这是同类技术中比较特殊的。</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="section-title">简单而统一的接口</h3>
            <p class="section-p">Quark Renderer 的接口简单而统一，所有图元的配置项都是完全一致的。只要熟悉其中一个，就熟悉了所有，学习成本非常低。</p>
            <img src="../../../../assets/imgs/usage.png" alt="usage">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="section-title">一流的文档</h3>
            <p class="section-p">经过持续不断的优化，Quark Renderer 拥有一流的文档，所有注释和文档都内置中文、英文两个版本。</p>
            <img src="../../../../assets/imgs/api.png" alt="API">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">快速上手</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
<pre>
<code>
<span class="c1"># 克隆此项目</span>
$ git clone https://gitee.com/quark-renderer/quark-renderer.git

<span class="c1"># 进入仓库</span>
$ cd quark-renderer

<span class="c1"># 查看实例</span>
$ 所有实例都位于 /test 目录下，在浏览器中直接打开 html 即可运行。

<span class="c1"># 安装依赖</span>
$ npm i (中文开发者可以使用 cnpm )

<span class="c1"># 构建</span>
$ npm run build

<span class="c1"># 开发</span>
$ npm run dev
</code>
</pre>
                </div>
            </div>
        </div>
    </div>
</div>