<div class="container" [@flyIn]="'active'" draggable="false">
    <div class="row" draggable="false">
        <div class="col-md-3" draggable="false">
            <p-accordion [multiple]="true">
                <p-accordionTab header="连接线">
                    Content 1
                </p-accordionTab>
                <p-accordionTab header="组">
                    Content 2
                </p-accordionTab>
                <p-accordionTab header="流程图">
                    <div class="elements">
                        <div class="row">
                            <div class="col-md-3">
                                <img draggable='true' src="/assets/imgs/flow/terminator.jpg" class="thumbnail" style="width:64px;height:64px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <img draggable='true' src="/assets/imgs/flow/process.jpg" class="thumbnail" style="width:64px;height:64px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <img draggable='true' src="/assets/imgs/flow/decision.jpg" class="thumbnail" style="width:64px;height:64px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <img draggable='true' src="/assets/imgs/flow/database.jpg" class="thumbnail" style="width:64px;height:64px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <img data-type='visio' draggable='true' src="/assets/imgs/flow/vector-curve-line.png" class="thumbnail" style="width:64px;height:64px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <img data-type='line' draggable='true' src="/assets/imgs/flow/line.png" class="thumbnail" style="width:64px;height:64px;">
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="BPMN">
                    Content 3
                </p-accordionTab>
            </p-accordion>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group" role="group" aria-label="First group">
                        <button type="button" class="btn btn-default">撤销</button>
                        <button type="button" class="btn btn-default">恢复</button>
                        <button type="button" class="btn btn-default">保存</button>
                        <button type="button" class="btn btn-default">直线</button>
                        <button type="button" class="btn btn-default">折线</button>
                        <button type="button" class="btn btn-default">曲线</button>
                        <button type="button" class="btn btn-default">实线</button>
                        <button type="button" class="btn btn-default">虚线</button>
                        <button type="button" class="btn btn-default">放大</button>
                        <button type="button" class="btn btn-default">缩小</button>
                        <button type="button" class="btn btn-default">选择</button>
                    </div>
                </div>
            </div>
            <div class="row" draggable="false" style="padding-top: 15px;">
                <div class="col-md-12" draggable="false">
                    <div draggable="false" id="dropZone" style="width:1000px;height:800px;background-color: #f7f7f7;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>